
@import "base/_variables";
@import "base/_global";

/* Responsive for iPad*/

@media screen and (min-width: 768px){
  .developer-drawing {
    width: 370px;
    height: 236px;
    background-size: 90% 90%;
    right: 5%;
    top: 45%;
    opacity: 0;
  }

  .engineer-drawing {
    width: 400px;
    height: 300px;
    background-size: 90% 90%;
    left: -5%;
    top: 45%;
    opacity: 0;
  }

  .artist-drawing {
    width: 400px;
    height: 300px;
    background-size: 100% 100%;
    left: 27%;
    top: 30%;
    opacity: 0;
  }

  .about-container {
    width: 80%;
  }

  .learn-more-button {
    margin-bottom: 40px;
  }

  .nicolas-container {
    width: 80%;
  }

  .email-box {
    height: 2.8rem;
    width: 50%;
  }

  .message-box {
    height: 10rem;
    width: 50%;
  }

  .send-button {
    height: 2.8rem;
    width: 50%;
  }

  .melbourne-wrapper {
    margin-top: -100px;
    display: block;
    overflow: visible;
    height: 350px;
  }

  .contact-title {
    margin-bottom: 400px;
  }

  #melbourne-foreground {
    height: 550px;
    width: 100%;
    background-image: url("melbourne-foreground-solid2x.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -150px;
  }

  #melbourne-background {
    height: 550px;
    width: 100%;
    background-image: url("Melbourne-skyline2x.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -200px;
  }

  #tram {
    height: 150px;;
    width: 200px;
    background-image: url("tram2x.png");
    background-size: 100% 100%;
    margin-left:70px;
  }

  #ferris-wheel {
    top: -10%;
  }

  form {
    position: absolute;
    left:10%;
    z-index: 10;
    top: 20%;
    width: 80%;
  }


  .project-container {
    width: 80%;
  }

  .technology-wrapper {
    display: flex;
  }

  .node-wrapper {
    width: 50%;
  }

  .ror-wrapper {
    width: 50%;
  }

  .ruby-icon {
    display: none;
  }

  .node-icon {
    display: none;
  }

  .row_of_icon{
    display: flex;
    height: 80px;
    position: relative;
    margin-bottom: 50px;
  }

  .node-icon-med{
  width: 50%;
  }

  .ruby-icon-med{
    width: 50%;
  }

}

/* Responsive for Desktop*/
@media screen and (min-width: 1440px){

  .navigation {
    height: 5rem;
  }

  .nav-icon {
    margin-top: 1.6rem;
    height: 2rem;
  }

  .nav-icon-cp {

  }

  .icon-right {
    padding-right: 2rem;
  }

  .icon-left {
    padding-left: 2rem;
  }

  .hero-box {
    height: 55rem;
  }

  .hero-description-title {
    font-size: 3rem;
  }

  .hero-description-title:nth-child(4){
    padding-bottom: 2rem;
  }

  .hero-description {
    top: 55%;
    margin-top: -3.125rem;
    overflow: hidden;
  }

  .hero-my-name {
    padding-top: 0.625rem;
    padding-bottom: 1.25rem;
    letter-spacing: 1rem;
    text-align: center;
    font-weight: 100;
    font-size: 2.6rem;
    font-family: 'Hiragino Sans', sans-serif;
    font-weight: 300;
  }

  .icon-hero {
    width: 2rem;
    height: 2rem;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
    margin-top: 1.4rem;
  }

  .developer-drawing {
    width: 412px;
    height: 404px;
    background-size: 100% 100%;
    background-position: right bottom;
    top: 38%;
  }

  .engineer-drawing {
    width: 456px;
    height: 502px;
    background-size: 100% 100%;
    left: 10%;
    top: 25%;
  }

  .artist-drawing {
    width: 100%;
    height: 900px;
    background-size: 60% 60%;
    top: 20%;
  }

  header .arrow-down {
    left: 49%;
  }

  .hero-description-icons {
    margin-top: 2rem;
  }

  .hero-icon {
    height: 2rem;
  }

  .hide-middle-arrow-in-desktop {
    display: none;
  }

  .about-container {
    margin-left:0px;
    margin-right:0px;
    padding-bottom:0px;
    width: 100%;
  }

  .paragraph-in-desktop {
    padding-bottom: 100px;
  }

  .about-in-desktop {
    display: flex;
  }

  .left-column-in-desktop {
    width: 50%;
  }

  .right-column-in-desktop {
    width: 50%;
  }

  .large-window {
    height: 800px;
    width: auto;
    margin: 0;
    background-image: url('model4.jpg');
    background-repeat: no-repeat;
    border-radius: 0;
    background-position: contain;
    background-attachment: scroll;
  }

  .about-description-margin-top {
    margin-top: 30%;
    padding-right: 30px;
    padding-left: 30px;
  }

  .section-title {
    font-size: 3rem;
  }


  .about-arrow-down-in-desktop {
    width: 2.375rem;
    height: 1.875rem;
    background-image:url('arrow-down.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    left: 48%;
    top: 95%;
  }

  .learn-more-button {
    margin-top: 20px;
    margin-bottom: 220px;
  }

  .carousel-in-desktop {
    display: block;
  }

  .no-static-cartoon-in-desktop {
    display: none;
  }

  .nicolas-in-desktop {
    display: flex;
    flex-direction: row-reverse;
  }

  .nicolas-description-special-margin {
    margin-top: 15%;
    padding-right: 30px;
    padding-left: 30px;
  }

  .nicolas-arrow-down-in-desktop {
    width: 2.375rem;
    height: 1.875rem;
    background-image:url('arrow-down.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right:auto;
    margin-top: 220px;
    left: 48%;
    top: 95%;
  }

  .nicolas-container {
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 0px;
    width: 100%;
  }

  .contact-title {
    margin-bottom: 300px;
  }

  #carouselCartoons {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .section-project-title {
    font-family: 'Hiragino Sans', sans-serif;
    font-size: 2.6rem;
    font-weight: bold;
    margin: 0;
    padding-top: 5rem;
    padding-bottom: 0;
  }

  .red-project-title {
    font-size: 2.3rem;
    font-weight: bold;
    margin-left: -50px;
  }

  .red-about-me-icon {
    height: 2.6rem;
  }

  .juggle-red {
    height:3.1rem;
  }

  .skill-title {
    font-size: 25px;
  }

  .dot-competence {
    width: 1.25rem;
    height: 1.25rem;
    margin-left:0.625rem;
    margin-right: 0.625rem;
  }

  .melbourne-wrapper {
    margin-top: -100px;
    display: block;
    overflow: visible;
    height: 1031px;
  }

  #melbourne-foreground {
    height: 1031px;
    width: 100%;
    background-size: 100% 100%;
    margin-top: -150px;
  }

  #melbourne-background {
    height: 1031px;
    width: 100%;
    background-size: 100% 100%;
    margin-top: -200px;
  }

  #tram {
    height: 300px;;
    width: 400px;
    background-image: url("tram2x.png");
    background-size: 100% 100%;
    margin-left:200px;
    margin-top: 80px;
  }

  #ferris-wheel {
    height: 640px;
    width: 640px;
    background-size: 55% 55%;
    background-position: left top;
    left:5%;
    top: -5%;
  }

  form {
    max-width: 700px;
    left: 50%;
    top: 45%;
  }


  .icon-maison {
    height: 50px;
    width: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
  }

  .icon-contacter-moi {
    height: 60px;
    width: 60px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
  }

  .icon-petit-nicolas {
    height: 50px;
    width: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
  }

  .icon-cartable {
    height: 50px;
    width: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
  }

  .a-mon-sujet {
    height: 50px;
    width: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
  }




}
