<div class="about-container" id="about-me">
  <div class="about-in-desktop">
    <div class="left-column-in-desktop">
      <h1 class="section-title">About</h1>
      <div class="about-description about-description-margin-top">
        <p>&nbsp;I’m Carole, a professional developer and designer, living in Melbourne, Australia.</p>
  	    <p class="paragraph-in-desktop">&nbsp;My work consists in building front-end and back-end applications using Ruby on Rails and the MEAN stack.</p>
        <%= link_to "Learn more", pages_more_about_me_path, :class => "learn-more-button" %>
        <div class="about-arrow-down-in-desktop"></div>
      </div>
    </div>
    <div class="right-column-in-desktop">
      <div class="large-window"></div>
    </div>
  </div>

  <div class="hide-middle-arrow-in-desktop">
    <div class="arrow-down"></div>
  </div>

</div>
