<h1>About</h1>
<p>I’m Carole, an international traveller with a persistent French accent. Polymath at heart, I love to constantly explore new horizons. Once upon a time a chemical engineer, a personal trainer, a workshop provider and a quarantine officer, gives me the skills to communicate and relate with people of different cultures and backgrounds.</p>
<p>I’m now learning code to build full stack products for the internet. I enjoy crafting pretty things and nifty solutions to complicated problems.</p>
<p>Extracurricular activities involve thin air, like flying, and more breathable air for rollerblading, drawing cartoons and anything fibre related!</p>

<div class="large-window"></div>
