<div class="about-container">
  <h1 class="section-title">About</h1>
  <div class="about-description">
    <p>&nbsp;I’m Carole, a professional artist, designer and developer, living in Melbourne, Australia.</p>
	  <p>&nbsp;My work consists in building front-end and back-end applications using Ruby on Rails and the MEAN stack.</p>
  </div>
  <div class="large-window"></div>

<button class="learn-more-button">Learn more</button>

<div class="arrow-down"></div>
</div>
