<h1>Contact</h1>
<div class="row nicolas">
  <div class="col-xs-4">
    <%= image_tag("Episode2.png", :alt => "Episode2", :class => "nicolas-dessin nicolas-1") %>
  </div>
  <div class="col-xs-4">
    <%= image_tag("Episode3.png", :alt => "Episode3", :class => "nicolas-dessin nicolas-2") %>
  </div>
  <div class="col-xs-4">
    <%= image_tag("Episode4.png", :alt => "Episode4", :class => "nicolas-dessin nicolas-3") %>
  </div>
</div>
