<h1 class="section-title">Contact</h1>
<input class="email-box boxed" placeholder="Email" />
<input class="message-box boxed" placeholder="Message" />
<button class="send-button boxed"></button>
<div class="melbourne-wrapper">
  <div id="melbourne-background"></div>
  <div id="melbourne-foreground"></div>
  <div id="tram"></div>
  <div id="ferris-wheel"></div>
</div>
