
<div class="contact-container">
  <h1 class="section-title small-bottom-margin contact-title">Contact</h1>

  <form action="https://formspree.io/cjpillette@gmail.com"
        method="POST">
  <input class="email-box boxed" type="email" placeholder="Your email adress"/>
  <input class="message-box boxed" type="text" placeholder="Enter your message here..."/>
  <input class="send-button boxed" type="submit" value="SEND" />
</form>
  <div class="melbourne-wrapper">
    <div id="melbourne-background"></div>
    <div id="melbourne-foreground"></div>
    <div id="tram"></div>
    <div id="ferris-wheel"></div>
  </div>
</div>
