<div class="navigation">
  <%= image_tag("Home.svg", :alt => "home", :class => "icon icon-left") %>
  <%= image_tag("FoutainPen.svg", :alt => "contact me", :class => "icon icon-right") %>
  <%= image_tag("Cartable.svg", :alt => "portfolio", :class => "icon icon-right") %>
  <%= image_tag("About.svg", :alt => "about me", :class => "icon icon-right") %>
</div>
