<div class="navigation" id="navigation">
  <a href="#hero-box">
    <div class="icon-maison icon-that-grows"></div>
  </a>
  <a href="#contact-me">
    <div class="icon-contacter-moi icon-that-grows"></div>
  </a>
  <a href="#my-art">
    <div class="icon-petit-nicolas icon-that-grows"></div>
  </a>
  <a href="#my-portfolio">
    <div class="icon-cartable icon-that-grows"></div>
  </a>
  <a href="#about-me">
    <div class="icon-a-mon-sujet icon-that-grows"></div>
  </a>
</div>
