<div class="navigation" id="navigation">
  <a href="#hero-box">
    <div class="icon-maison"></div>
  </a>
  <a href="#contact-me">
    <div class="icon-contacter-moi"></div>
  </a>
  <a href="#my-art">
    <div class="icon-petit-nicolas"></div>
  </a>
  <a href="#my-portfolio">
    <div class="icon-cartable"></div>
  </a>
  <a href="#about-me">
    <div class="icon-a-mon-sujet"></div>
  </a>
</div>
