<div class="nicolas-container">
    <h1 class="section-title">Design</h1>
  <div class="about-description">
    <p>&nbsp;I’m documenting my journey of becoming a developer here in Melbourne with my fellow classmates. My daily <a href="http://carolecodes.blogspot.com.au/">vlogs</a> come with a cartoon depicting the key event 'du jour'!</p>
  </div>


<div class="arrow-down"></div>
</div>
