<div class="nicolas-container">
    <h1 class="section-title">ART</h1>
  <div class="about-description">
    <p class="p-no-margin">&nbsp;I’m documenting my journey of becoming a developer here in Melbourne with my fellow classmates. My daily <a href="http://carolecodes.blogspot.com.au/">vlogs</a> come with a cartoon depicting the key event 'du jour'!</p>
  </div>

  <%= image_tag("class-photo.jpg", :alt => "cartoon class photo", :class => "project-screen-shot") %>

<div class="arrow-down"></div>
</div>
