<h1>Portfolio</h1>
<ul>Tracking health check-ups
Quarantine Data Collection
Coder Factory Academy scholarship
Travel Site
Chat room</ul>

<div class="project-pics">
  <div class="row project-panel">
    <div class="col-xs-6">
      <%= image_tag("RoR.svg", :alt => "ruby on rails") %>
    </div>
    <div class="col-xs-6">
      <h2>Track your health check-ups</h2>
      <hr>
      <h3><strong>Ruby / CLI</strong></h3>
    </div>
  </div>
  <div class="row project-panel">
    <div class="col-xs-6">
      <%= image_tag("Node.svg", :alt => "node") %>
    </div>
    <div class="col-xs-6">
      <h2>Travel Site</h2>
      <hr>
      <h3><strong>NodeJS BEM / Github</strong></h3>
    </div>
  </div>
</div>
