<div class="portfolio-container">
<h1 class="section-title">Portfolio</h1>

<div class="project-row">
  <div class="node-icon"></div>
  <div class="coding-project">
    <h3>Travel site</h3>
    <hr>
    <h4>NodeJS BEM / Github</h4>
  </div>
</div>

<div class="project-row">
  <div class="node-icon"></div>
  <div class="coding-project">
    <h3>CFA Woman scholarship</h3>
    <hr>
    <h4>NodeJS BEM / Github</h4>
  </div>
</div>

<div class="project-row">
  <div class="node-icon"></div>
  <div class="coding-project">
    <h3>Chat room</h3>
    <hr>
    <h4>NodeJS iSocket / Heroku</h4>
  </div>
</div>

<div class="project-row">
  <div class="node-icon"></div>
  <div class="coding-project">
    <h3>Quarantine Data Collection</h3>
    <hr>
    <h4>Front-end Boostrap / Heroku</h4>
  </div>
</div>


<div class="project-row">
  <div class="node-icon"></div>
  <div class="coding-project">
    <h3>Travel site</h3>
    <hr>
    <h4>NodeJS BEM / Github</h4>
  </div>
</div>


<div class="project-row">
  <div class="ruby-icon"></div>
  <div class="coding-project">
    <h3>Track your health</h3>
    <hr>
    <h4>Ruby / CLI</h4>
  </div>
</div>


</div>
