<div class=section>
  <%= render 'shared/navigation_project_page'%>

  <div class="project-container">
    <h1 class="section-project-title">CFA Woman Scholarship</h1>
    <hr />
    <div class="about-description">
      <p>&nbsp;After teaching myself coding, and feeling ready to strap on a turbo charge, I decided to take part of the coder factory academy coding bootcamp. In the process I applied for the woman scholarship.</p>
  	  <p>&nbsp;The theme being ‘women in tech’, I decided to illustrate my story with the cartoon of a chick, from the egg to the mature fledging chook.</p>
      <p>&nbsp;I’ve used the skills I’ve learned when building the Travel site, and created a single page application and letting my creativity run wild!</p>

      <%= image_tag("cfa-scholarship-screen-shot.jpg", :alt => "cfa scholarship screen shot", :class => "project-screen-shot") %>

    </div>
  </div>


  <a href="https://cjpillette.github.io/CFApplication2/" class="visit-project-site">Visit site here</a>
  <div class="arrow-up"></div>

</div>
