<div class=section>
  <%= render 'shared/navigation_project_page'%>

  <div class="project-container">
    <h1 class="section-project-title">Quarantine data</h1>
    <hr />
    <div class="about-description">
      <p>&nbsp;This project started from the need to collect effectively routine quarantine data at the various points of entry of Tasmania.</p>
  	  <p>&nbsp;Data were collected manually and entered, at best of times, in an excel spreadsheet.</p>
      <p>&nbsp;In order to have a real-time data feed of the activities happening at the border I designed a user interface. Users were comprised of a variety of stakeholders: field-officers, program managers, operational managers and relevant governmental bodies</p>
      <p>&nbsp;I’ve designed the relational database underpinning the back-end component of the project.</p>
      <p>&nbsp;The front-end followed the biosecurity continuum paradigm, with pre-border, border and post-border activities.</p>
    </div>
  </div>

  <%= image_tag("quarantine-1.jpg", :alt => "quarantine website screen shot", :class => "project-screen-shot") %>
  <div class="about-description">
  <p>&nbsp;Field officers would enter their data on the spot:</p>
  </div>

  <%= image_tag("quarantine-2.jpg", :alt => "quarantine website screen shot", :class => "project-screen-shot") %>
  <div class="about-description">
  <p>&nbsp;Management would be able to see in real-time activity results:</p>
  </div>    

  <%= image_tag("quarantine-3.jpg", :alt => "quarantine website screen shot", :class => "project-screen-shot") %>

  <a href="https://ancient-headland-44606.herokuapp.com/" class="visit-project-site">Visit site here</a>
  <div class="arrow-up"></div>


</div>
