<!-- <div class=section>
  <%= render 'shared/navigation_project_page'%>

  <div class="project-container">
    <h2 class="section-project-title">Teeth, blood and all!</h2>
    <hr />
  </div>

</div> -->

<div id="ruby-animation"></div>
