@import "base/_variables";
@import "base/_responsive";
@import "base/_global";

.contact-container {
  margin: auto;
  background-color: $main-grey;
  position: relative;
  display: block;
  overflow: hidden;
}

.melbourne-wrapper {
  position: relative;
  height: 300px;
  overflow: visible;
}

.email-box {
  height: 28px;
  width: 295px;
  margin: auto;
  margin-bottom: 0.625rem;
}

.message-box {
  height: 105px;
  text-align: top;
  overflow: auto;
  width: 295px;
  margin: auto;
  margin-bottom: 0.625rem;
}

#melbourne-background {
  position: absolute;
  height: 300px;
  width: 100%;
  background-image: url("Melbourne-skyline2x.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top center;
  background-size: contain;
  z-index: 1;
  top: -35%;
}

#melbourne-foreground {
  height: 300px;
  width: 100%;
  position: absolute;
  background-image: url("melbourne-foreground-solid2x.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  z-index: 2;
  top: 23%;
}

#tram {
  height: 113px;
  width: 150px;
  position: absolute;
  background-image: url("tram2x.png");
  background-size: 30% 30%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  z-index: 3;
  top: 58%;
  left: 18%;
}

#ferris-wheel {
  height: 320px;
  width: 320px;
  position: absolute;
  background-image: url("ferris3.gif");
  background-size: 55% 55%;
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  z-index: 0;
  left:0%;
  top: 0%;
}

.send-button {
  color: $dark-grey;
  font: 'Hiragino Sans', sans-serif;
  font-weight: 500;
  height: 23px;
  width: 295px;
  margin: auto;
  margin-bottom: 0;
}
