.nicolas-container {
  width: 90%;
  margin: auto;
  position: relative;
  padding-bottom: 3.125rem;
}

.nicolas-row {
  display: inline-block;
}

.nicolas-container .p-no-margin {
  margin-bottom: 0;
}
