@import "base/_variables";
@import "base/_responsive";
@import "base/_global";

.section_project {
  text-align: center;
  margin: auto;
}

.row-below-nav {
  padding-top: 5rem;
  padding-bottom: 0.9375rem;
  vertical-align: center;
}

.project-container {
    width: 90%;
    margin: auto;
    position: relative;
    padding-bottom: 0;
}

.project-title {
  padding-top: 5rem;
}

.project-screen-shot {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.section-project-title {
  font-family: 'Hiragino Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  padding-top: 3.75rem;
  padding-bottom: 0;
}

.visit-project-site {
  text-decoration: underline;
  padding-top: 2.0625rem;
}

#ruby-animation {
  height: 800px;
  width: 1102px;
  position: absolute;
  background-image: url("Ruby-animation.gif");
  background-size: 55% 55%;
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  z-index: 0;
  left:0%;
  top: 0%;
}
