/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*"bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/
@import "bootstrap";
// @import "bootstrap-sprockets";


body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Sigmar One', cursive;
  font-size: 4.2rem;
}

h2 {
  font-size: 3.8rem;
  font-weight: 400;
}

h3 {
  font-size: 2.9rem;
}

.about-description p {
  font-weight: 600;
  font-size: 3.5rem;
  margin-bottom: 30px;
  text-align: justify;
}

p:last-child {
  margin-bottom: 40px;
}

.boxed {
  border: 1px solid black;
  box-shadow: 10px 10px 5px #888888;
  border-radius: 5px;
  background-color: white;
}

.section {
  height: 2800px;
  width: 1200px;
  text-align: center;
  margin: auto;
}

.section-title {
  margin: 40px 0 30px 0;
}

/* Navigation */
.navigation {
  position: fixed;
  z-index: 10;
  max-width: 1200px;
  width: 100%;
  height: 90px;
  background-color: white;
}

.icon {
  padding: 20px 20px;
  height: 80px;
}

.icon-left {
  float: left;
}

.icon-right {
  float: right;
}

.icon-large {
  max-width: 100px;
}

/* Hero parallax */
.bird-box {
  position: relative;
  height: 800px;
  // background-image: url('bird-bg.jpg');
  // background-size: contain;
  // background-position: top center;
  background-color: #efeff4;
  background-attachment: fixed;
  overflow: hidden;
}

.hero-description {
  height: 500px;
  width: 450px;
  margin: auto;
  position: relative;
  display: block;
  top: 50%;
  margin-top: -50px;
  overflow: hidden;

}

.hero-description-title {
  font-size: 4.1rem;
  line-height: 90%;
}

.line-break {
  height: 5px;
  background-color: black;
  margin-top: 30px;
}

.hero-description-icons{
  width: 100%;
  display: inline-block;
  text-align: center;
}


.developer-drawing {
  width: 960px;
  height: 733px;
  background-image: url('developer-facing-right.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 40% 40%;
  position: absolute;
  left: 15%;
  top: 5%;
}

.engineer-drawing {
  width: 380px;
  height: 400px;
  background-image: url('chemical-engineer-facing-left.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  // position: top;
  position: absolute;
  // left: 10%;
  top: 22%;
}

/*Portfolio parallax */

.portfolio-container {
  margin: auto;
  background-color: #e1e1e1;
}



.project-panel {
  margin-bottom: 50px;
  position: relative;
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.3s ease-in-out;

  &.is-showing {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* About section*/

.about-container {
  width: 90%;
  margin: auto;
}

.about-description {
  width: 70%;
  margin: auto;
}

.large-window {
  height: 640px;
  width: 640px;
  margin: auto;
  background-image: url('model2.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 50%;
}

/* Contact */
.melbourne-wrapper {
  position: relative;
  height: 1500px;
  width: 1200px;
  overflow: hidden
}

.email-box {
  height: 80px;

  width: 66%;
  margin: auto;
  margin-bottom: 30px;
}

.message-box {
  height: 200px;

  width: 66%;
  margin: auto;
  margin-bottom: 30px;

}

.send-button {
  height: 80px;
  width: 66%;
  margin: auto;
  margin-bottom: 30px;

}

.melbourne-background {
  position: absolute;
  height: 700px;
  width: 1300px;
  background-image: url("skyline-small.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  z-index: 1;
  // right: 5%;
}

.melbourne-foreground {
  height: 700px;
  width: 1200px;
  position: absolute;
  background-image: url("melbourne-foreground-solid.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  z-index: 2;
  top: 15%;
  // left: 5%;
}

.tram {
  height: 400px;
  width: 600px;
  position: absolute;
  background-image: url("tram-small.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  z-index: 3;
  top: 40%;
  left: 12%;
}


.ferris-wheel {
  height: 700px;
  width: 742px;
  position: absolute;
  background-image: url("ferris3.gif");
  background-size: 30% 30%;
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  z-index: -1;
  // left:8%;
  top: 28%;
}
