/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 *= require_tree .
 *= require_self
 */

 /*"bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"*/
@import "bootstrap";
// @import "bootstrap-sprockets";

@-ms-viewport{
  width: device-width;
}

$main-red: #F71E1E;
$main-grey: #E0DFE9;
$light-grey: #e1e1e1;
$dark-grey: #979797;

body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Sigmar One', cursive;
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
  font-weight: 400;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 0.8rem;
  font-weight: 200;
}

img {
  max-width: 100%;
}

a  {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: $main-red;
}

.about-description p {
  font-weight: 400;
  font-size: 1.1rem;
  margin-bottom: 1.875rem;
  text-align: justify;
}

p:last-child {
  margin-bottom: 2.5rem;
}

.boxed {
  border: 1px solid grey;
  // box-shadow: 5px 5px 2px #e1e1e1;
  // border-radius: 5px;
  background-color: white;
}

.section {
  // height: 2800px;
  text-align: center;
  margin: auto;
}

.section-title {
  margin: 0 0 1.5625rem 0;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.small-bottom-margin {
  margin: 0;
}

.arrow-down {
  width: 2.375rem;
  height: 1.875rem;
  position: absolute;
  background-image:url('arrow-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  left: 48%;
  top: 95%;
}

// .dark-background {
//   background-color: #efeff4;
// }

/* Navigation */
.navigation {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 2.8125rem;
  background-color: white;
}

.icon {
  padding: 0.625rem 0.625rem;
  height: 1.5625rem;
}

.nav-icon {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  margin-top: 0.625rem;
  margin-bottom: 0;
  height: 1.5625rem;
}

.icon-left {
  float: left;
}

.icon-right {
  float: right;
}

.icon-center {
  margin: auto;
  margin-top: 1.5625rem;
  margin-bottom: 1.5625rem;
}

.icon-large {
  max-width: 6.25rem;
}

.icon-hero {
  width: 0.9375rem;
  height: 0.9375rem;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
  margin-top: 0.625rem;
}

/* Hero parallax */
.hero-box {
  position: relative;
  height: 34.375rem;
  width: auto;
  background-color: $main-grey;
  background-attachment: fixed;
  overflow: hidden;

}

.hero-description {
  // height: 245px;
  width: auto;
  margin: auto;
  position: relative;
  display: block;
  top: 65%;
  margin-top: -3.125rem;
  overflow: hidden;
}

.hero-my-name {
  padding-top: 0.625rem;
  padding-bottom: 1.25rem;
  letter-spacing: 0.5rem;
  text-align: center;
  font-weight: 100;
  font-size: 1.4rem;
  font-family: 'Hiragino Sans', sans-serif;
  font-weight: 300;
}

.hero-description-title {
  font-size: 1.4rem;
  line-height: 90%;
  text-align: center;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}

.line-break {
  height: 1px;
  background-color: $dark-grey;
  margin-top: 1.875rem;
  width: 66%;
  margin: auto;
}

.hero-description-icons{
  width: 100%;
  display: inline-block;
  text-align: center;
}


.developer-drawing {
  width: 14.0625rem;
  height: 10.1875rem;
  background-image: url('developer2x.png');
  background-repeat: no-repeat;
  background-size: 60% 60%;
  background-position: right bottom;
  position: absolute;
  right: 7%;
  top: 26%;
  opacity: 0.3;
}

.engineer-drawing {
  width: 16.6875rem;
  height: 12.5rem;
  background-image: url('chemical-engineer2x.png');
  background-repeat: no-repeat;
  background-size: 80% 80%;
  position: absolute;
  left: 0%;
  top: 25%;
  opacity: 0.3;
}

.artist-drawing {
  width: 16.6875rem;
  height: 12.5rem;
  background-image: url('artist.png');
  background-repeat: no-repeat;
  background-size: 80% 80%;
  position: absolute;
  left: 38%;
  top: 10%;
  opacity: 0.3;
}

/*Portfolio parallax */

.row_of_icon{
  display: none;
}

.portfolio-container {
  margin: auto;
  background-color: $main-grey;
  position: relative;
  padding-bottom: 0.625rem;
}


.project-row {
  margin: auto;
  display: block;
  margin-bottom: 3.125rem;
}

.node-icon {
  width: 33%;
  height: 3.125rem;
  background-image: url('Node.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 5%;
}

.ruby-icon {
  width: 33%;
  height: 2.5rem;
  background-image: url('Ruby-red.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 5%;
}

.coding-project {
  width: 66%;
  margin: auto;
}

.more-about-project {
  margin-top: 0.625rem;
}

.project-panel {
  margin-bottom: 3.125rem;
  position: relative;
  opacity: 0;
  transform: translateX(-1.25rem);
  transition: all 0.3s ease-in-out;

  &.is-showing {
    opacity: 1;
    transform: translateX(0px);
  }
}

.coding-project:last-child {
  margin-bottom: 3.125rem;
}

/* nicolas portfolio*/

.nicolas-container {
  width: 90%;
  margin: auto;
  position: relative;
  padding-bottom: 3.125rem;
}

.nicolas-row {
  display: inline-block;
}

/* About section*/

.about-container {
  width: 90%;
  margin: auto;
  position: relative;
  padding-bottom: 3.125rem;
}

.about-description {
  width: 90%;
  margin: auto;
}

.large-window {
  height: 18.75rem;
  width: 18.75rem;
  margin: auto;
  background-image: url('model3.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 50%;
}

.learn-more-button {
  background-color: $main-red;
  padding: 0.625rem 3.125rem;
  color: white;
  border: 0;
  margin-top: 1.875rem;
  border-radius: 0.625rem;
  box-shadow: 0.0625rem 0.125rem 0.25rem rgba(0, 0, 0, .5);
}

/* Art */

.nicolas-container .p-no-margin {
  margin-bottom: 0;
}


/* Contact */

.contact-container {
  margin: auto;
  background-color: $main-grey;
  position: relative;
  display: block;
  overflow: hidden;
}

.melbourne-wrapper {
  position: relative;
  height: 288px;
  // width: 1200px;
  // overflow: hidden;
}

.email-box {
  height: 28px;
  width: 295px;
  margin: auto;
  margin-bottom: 0.625rem;
}

.message-box {
  height: 105px;
  text-align: top;
  overflow: auto;
  width: 295px;
  margin: auto;
  margin-bottom: 0.625rem;
}

#melbourne-background {
  position: absolute;
  height: 19rem;
  width: 23.4375rem;
  background-image: url("Melbourne-skyline2x.png");
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: top center;
  background-size: contain;
  z-index: 1;
  top: -35%;
  // right: 5%;
}

#melbourne-foreground {
  height: 15rem;
  width: 23.4375rem;
  position: absolute;
  background-image: url("melbourne-foreground-solid2x.png");
  background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  z-index: 2;
  top: 23%;
  // left: 5%;
}

#tram {
  height: 7.0625rem;
  width: 9.375rem;
  position: absolute;
  background-image: url("tram2x.png");
  background-size: 30% 30%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  z-index: 3;
  top: 58%;
  left: 18%;
}


#ferris-wheel {
  height: 20rem;
  width: 20rem;
  position: absolute;
  background-image: url("ferris3.gif");
  background-size: 55% 55%;
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  z-index: 0;
  left:0%;
  top: 0%;
}

.send-button {
  color: $dark-grey;
  font: 'Hiragino Sans', sans-serif;
  font-weight: 500;
  height: 23px;
  width: 295px;
  margin: auto;
  margin-bottom: 0;
}

// Projects
.section_project {
  text-align: center;
  margin: auto;
}

.row-below-nav {
  padding-top: 5rem;
  padding-bottom: 0.9375rem;
  vertical-align: center;
}

.project-container {
    width: 90%;
    margin: auto;
    position: relative;
    padding-bottom: 0;
}

.project-title {
  padding-top: 5rem;
}

.project-screen-shot {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.section-project-title {
  font-family: 'Hiragino Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  padding-top: 3.75rem;
  padding-bottom: 0;
}

.experience-company-name {
  font-family: 'Hiragino Sans', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right:0;
}

.experience-company-position {
  font-family: 'Hiragino Sans', sans-serif;
  font-size: 0.875rem;
  text-align: right;
  margin: 0;
  padding-top: 3px;
  padding-bottom: 0;
  padding-right: 0;
  padding-left:1.25rem;
}

.job-description {
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
}


.red-project-title {
  color: red;
  font-family: 'Hiragino Sans', sans-serif;
  font-size: 1.25rem;
  margin: 0;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  text-align: left;
}

.red-about-me-icon {
  display: block;
  height: 1.75rem;
  // width: 20px;
  margin-top: 0.3125rem;
  padding-left: 0;
}

.arrow-up {
  width: 1.25rem;
  height: 0.6875rem;
  background-image:url('arrow-up.svg');
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  text-align: center;
  margin-top: 1.25rem;
  padding-bottom: 1.875rem;
}

.visit-project-site {
  text-decoration: underline;
  padding-top: 2.0625rem;
}

.skill-section {
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

.skill-section:nth-child(2){
  margin-bottom: 1.875rem;
}

.skill-section:nth-child(6){
  margin-bottom: 1.875rem;
}

.skill-title {
  text-align: left;
}

.dot-competence {
  width: 0.625rem;
  height: 0.625rem;
  margin-left:0.3125rem;
  margin-right: 0.3125rem;
}

/* Footer */
.footer {
  height: 2.8125rem;
  width: 100%;
  text-align: center;
  opacity: 0.3;
  padding-top: 0.625rem;
  display: block;
}

/* Responsive for iPad*/

@media screen and (min-width: 768px){
  .developer-drawing {
    width: 370px;
    height: 236px;
    background-size: 90% 90%;
    right: 5%;
    top: 45%;
    opacity: 0.2;
  }

  .engineer-drawing {
    width: 400px;
    height: 300px;
    background-size: 90% 90%;
    left: -5%;
    top: 25%;
    opacity: 0.3;
  }

  .artist-drawing {
    width: 400px;
    height: 300px;
    background-size: 100% 100%;
    left: 27%;
    top: 4%;
    opacity: 0.3;
  }

  .about-container {
    width: 80%;
  }

  .nicolas-container {
    width: 80%;
  }

  .email-box {
    height: 2.8rem;
    width: 50%;
  }

  .message-box {
    height: 10rem;
    width: 50%;
  }

  .send-button {
    height: 2.8rem;
    width: 50%;
  }

  .melbourne-wrapper {
    margin-top: -100px;
    display: block;
    overflow: visible;
    height: 350px;
  }

  #melbourne-foreground {
    height: 461px;
    width: 774px;
    background-image: url("melbourne-foreground-solid2x.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -150px;
    // top: -40%;
  }

  #melbourne-background {
    height: 514px;
    width: 685px;
    background-image: url("Melbourne-skyline2x.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    // top:-40%;
    margin-top: -200px;
  }

  #tram {
    height: 150px;;
    width: 200px;
    background-image: url("tram2x.png");
    background-size: 100% 100%;
    margin-left:50px;
  }

  #ferris-wheel {
    top: -10%;
  }

  form {
    position: absolute;
    left:10%;
    z-index: 10;
    margin-top: -250px;
    width: 80%;
  }

  .contact-title {
    margin-bottom: 250px;
  }

  .project-container {
    width: 80%;
  }

  .technology-wrapper {
    display: flex;
  }

  .node-wrapper {
    width: 50%;
  }

  .ror-wrapper {
    width: 50%;
  }

  .ruby-icon {
    display: none;
  }

  .node-icon {
    display: none;
  }

  .row_of_icon{
    display: flex;
    height: 80px;
    position: relative;
    margin-bottom: 50px;
    // height: 80px;
  }

  .node-icon-med{
  width: 50%;

  }

  .ruby-icon-med{
    width: 50%;
  }

}

/* Responsive for Desktop*/

@media screen and (min-width: 1440px){

  .navigation {
    height: 5rem;
  }

  .nav-icon {
    margin-top: 1.6rem;
    height: 2rem;
  }

  .icon-right {
    padding-right: 2rem;
  }

  .icon-left {
    padding-left: 2rem;
  }

  .hero-box {
    height: 51.5625rem;
  }

  .hero-description-title {
    font-size: 3rem;
  }

  .hero-description-title:nth-child(4){
    padding-bottom: 2rem;
  }

  .hero-description {
    top: 60%;
    margin-top: -3.125rem;
    overflow: hidden;
  }

  .hero-my-name {
    padding-top: 0.625rem;
    padding-bottom: 1.25rem;
    letter-spacing: 1rem;
    text-align: center;
    font-weight: 100;
    font-size: 2.6rem;
    font-family: 'Hiragino Sans', sans-serif;
    font-weight: 300;
  }

  .hero-description-icons {
    margin-top: 2rem;
  }

  .hero-icon {
    height: 2rem;
  }

  .large-window {
    display: none;
  }

  .about-description {
    width: 50%;
    float: left;
  }
}
